<div ng-controller="ContactCtrl" class="container">

	<div class="row space">
	</div>

	<div class="contact_item">
		<div class="contact_text">
			<p>{{contact_text}}</p>
		</div>
	</div>

	<div class="contact_item">
		<div class="row contact_title">
			<h2>{{contact_title}}</h2>
		</div>
		<div class="contact_email">
			<p><strong>smvpelkonen[at]gmail.com</strong></p>
			<p><a href="https://www.linkedin.com/profile/view?id=342194949&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i> {{linkedin}}</a></p>
        	<p><a href="https://github.com/DevilSpy" target="_blank"><i class="fa fa-github fa-2x"></i> {{github}}</a></p>
		</div>
	</div>


		

	<div class="row space">
	</div>

</div>