<div ng-controller="CVCtrl" class="container">
	
	<div class="row space">
	</div>

	<div class="cv_header">
		<h2  class="centered">{{current_projects}}</h2>
	</div>

	

	<div class="cv_item">
		<div class="row cv_title">
			<h2>{{data_visualization}}</h2>
		</div>
		<div class="cv_text">
			<p>{{data_visualization_text}}</p>
		</div>
	</div>



	<div class="cv_item">
		<div class="row cv_title">
			<h2>{{game_programming}}</h2>
		</div>
		<div class="cv_text">
			<p>{{game_programming_text}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="cv_header">
		<h2>{{past_experience}}</h2>
	</div>

	<div class="cv_item">
		<div class="row cv_title">
			<h2>{{n4s}}</h2>
			<h2 class="right">{{n4s_time}}</h2>
		</div>
		<div class="cv_text">
			<p>{{n4s_text}}</p>
		</div>
	</div>

	<div class="cv_item">
		<div class="row cv_title">
			<h2>{{other_works}}</h2>
		</div>
		<div class="cv_text">
			<p>{{other_works_text}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="cv_header">
		<h2>{{skills}}</h2>
	</div>

	<div class="cv_item_charts">
		<div class="row">
			<div class="chart">
				<div id="programming_languages" class="left chart_item" ></div>
			</div>
			<div class="chart">	
				<div id="webchart" class="right chart_item"></div>
			</div>
			<div class="chart">
				<div id="programs" class="left chart_item"></div>		
			</div>
			<div class="chart">
				<div id="apis" class="right chart_item"></div>
			</div>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="cv_header">
		<h2>{{activities}}</h2>
	</div>

	<div class="cv_item">
		<div class="row cv_title">
			<h2>Haedong Kumdo</h2>
			<h2 class="right">{{haedongkumdo_time}}</h2>
		</div>
		<div class="cv_text">
			<p>{{haedongkumdo}}</p>
		</div>
	</div>

	<div class="cv_item">
		<div class="row cv_title">
			<h2>Han Moo Do</h2>
			<h2 class="right">{{hanmoodo_time}}</h2>
		</div>
		<div class="cv_text">
			<p>{{hanmoodo}}</p>
		</div>
	</div>

	<div class="row space">
	</div>	

</div>