<!--div class="jumbotron">
</div-->

<div class="row space">
</div>

<div class="row introduction">
  <div class="text_background">
    <div class="content_text">
      <p>{{introduction_text}}</p>
    </div>
  </div>
</div>

<div class="row space">
</div>

<div class="row profession">
  <div class="text_background">
    <div class="content_text">
      <p>{{profession_text}}</p>
    </div>
  </div>
</div>

<div class="row space">
</div>

<div class="row hobbies">
  <div class="text_background">
    <div class="content_text">
      <p>{{hobbies_text}}</p>
    </div>
  </div>
</div>

<div class="row space">
</div>