<div ng-controller="PortfolioCtrl" class="container">
	<div class="row space">
	</div>

	<div class="training_tracker portfolio_item">
		<div class="row portfolio_title">
			<h2>Training tracker</h2>
			<p class="git_icon"><a href="https://github.com/DevilSpy/training-tracker" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><img id="tt1" src="/images/portfolio/training_tracker_1.png"></p>
		<p class="portfolio_image"><img id="tt1" src="/images/portfolio/training_tracker_2.png"></p>
		<div class="portfolio_text">
			<p>{{training_tracker}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="training_tracker_javaee portfolio_item">
		<div class="row portfolio_title">
			<h2>Training tracker JavaEE</h2>
			<p class="git_icon"><a href="https://github.com/DevilSpy/training-tracker-javaee" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><img id="tt1" src="/images/portfolio/training_tracker_javaee.png"></p>
		<div class="portfolio_text">
			<p>{{training_tracker_javaee}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="threejs-mgs-demo portfolio_item">
		<div class="row portfolio_title">
			<h2><a href="http://smvpelkonen.dy.fi/threejs/harjoitustyo/sovellus" target="_blank">Three.js demo</a></h2>
			<p class="git_icon"><a href="https://github.com/DevilSpy/threejs-mgs-demo" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><img id="tt1" src="/images/portfolio/threejs_demo.png"></p>
		<div class="portfolio_text">
			<p>{{threejs_demo}}</p>
		</div>
	</div>

	<div class="row space">
	</div>


</div>
