<div ng-controller="PortfolioCtrl" class="container">
	<div class="row space">
	</div>

	<div class="training_tracker portfolio_item">
		<div class="row portfolio_title">
			<h2>Training tracker</h2>
			<p class="git_icon"><a href="https://github.com/DevilSpy/training-tracker" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><img class="bordered" src="/images/portfolio/training_tracker_1.png"></p>
		<p class="portfolio_image"><img class="bordered" src="/images/portfolio/training_tracker_2.png"></p>
		<div class="portfolio_text">
			<p>{{training_tracker}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="training_tracker_javaee portfolio_item">
		<div class="row portfolio_title">
			<h2>Training tracker JavaEE</h2>
			<p class="git_icon"><a href="https://github.com/DevilSpy/training-tracker-javaee" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><img class="bordered" src="/images/portfolio/training_tracker_javaee.png"></p>
		<div class="portfolio_text">
			<p>{{training_tracker_javaee}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="threejs-mgs-demo portfolio_item">
		<div class="row portfolio_title">
			<h2><a href="http://smvpelkonen.dy.fi/threejs/harjoitustyo/sovellus" target="_blank">Three.js demo</a></h2>
			<p class="git_icon"><a href="https://github.com/DevilSpy/threejs-mgs-demo" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
			<p class="git_icon"><a href="http://smvpelkonen.dy.fi/threejs/harjoitustyo/sovellus" target="_blank"><i class="fa fa-link fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><a href="http://smvpelkonen.dy.fi/threejs/harjoitustyo/sovellus" target="_blank"><img src="/images/portfolio/threejs_demo.png"></a></p>
		<div class="portfolio_text">
			<p>{{threejs_demo}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="hasuniityn_hunaja portfolio_item">
		<div class="row portfolio_title">
			<h2><a href="http://hasuniitynhunaja.fi" target="_blank">Hasuniityn Hunaja</a></h2>
			<p class="git_icon"><a href="http://hasuniitynhunaja.fi" target="_blank"><i class="fa fa-link fa-2x"></i></a></p>
		</div>
		<p class="portfolio_image"><a href="http://hasuniitynhunaja.fi" target="_blank"><img src="/images/portfolio/hasuniityn_hunaja.png"></a></p>
		<div class="portfolio_text">
			<p>{{hasuniityn_hunaja}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="unity_case portfolio_item">
		<div class="row portfolio_title">
			<h2>{{unity_case_title}}</h2>
		</div>
		<p class="center"><iframe width="560" height="315" src="//www.youtube.com/embed/6mkRC1_E18E" frameborder="0" allowfullscreen></iframe></p>
		<div class="portfolio_text">
			<p>{{unity_case}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="3D portfolio_item">
		<div class="row portfolio_title">
			<h2>{{D_models_title}}</h2>
		</div>
		<p class="portfolio_image"><img src="/images/portfolio/3Darmor.jpg"></p>
		<p class="portfolio_image"><img src="/images/portfolio/3Dbonsai.jpg"></p>
		<p class="portfolio_image"><img src="/images/portfolio/3Denvironment.jpg"></p>
		<div class="portfolio_text">
			<p>{{D_models}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

	<div class="graphics portfolio_item">
		<div class="row portfolio_title">
			<h2>{{graphics_title}}</h2>
		</div>
		<p class="portfolio_image"><img class="bordered" src="/images/portfolio/hk_poster2.png"></p>
		<p class="portfolio_image"><img class="bordered" src="/images/portfolio/hk_poster1.png"></p>
		<div class="portfolio_text">
			<p>{{graphics}}</p>
		</div>
	</div>

	<div class="row space">
	</div>

</div>
