/* Space out content a bit */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}

.left {float:left;}
.right {float:right;}

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
*/

/* NAVBAR */
.page-title {
  float: left;
}

.page-title-mobile, .navbar-mobile {
  visibility: hidden;
  display: none;
}

.navbar, .lang, .navbar-mobile {
  list-style: none;
  text-align: center;
}

.navbar li, .navbar-mobile li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 24px;
}

.lang li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 24px;
}

.navbar a, .page-title a, .lang a, .lang h3, .navbar-mobile a {
  text-decoration: none;
  color: #777;
}

.navbar a:hover, .page-title a:hover, .lang a:hover, .navbar-mobile a:hover {
  color: #000;
}

.navbar li .active, .lang li .active, .navbar-mobile li .active {
  color: #2a6496;
}

/* mobile navbar */
@media only screen and (max-width: 768px) {

   .navbar {
    visibility: hidden;
    display: none;
   }

   .navbar-mobile {
    width: 100%;
    visibility: visible;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
   }

  .space {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .page-title {
    visibility: hidden;
    display: none;
  }

  .page-title-mobile {
    display: inline;
    visibility: visible;
    margin: 0 auto;
    padding: 0;
  }

  .page-title-mobile a { 
    text-decoration: none; 
    color: #FFF; 
    margin: 0 auto; 
    padding: 0; 
  }
  .page-title-mobile a:hover { color: #777; }


}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 24px;
 /* padding-bottom: 19px;*/
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*@media (min-width: 768px) {*/
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
/*}*/
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /*.header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
/*}*/

/* BASIC */
.col-lg-12, .row {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}


/* FRONT PAGE */


.introduction {
  background-image: url(/images/sami_big.png);
}

.profession {
  background-image: url(/images/kone_big.png);
}

.hobbies {
  background-image: url(/images/haedong_kumdo_big.png);
}

.touch .introduction {
  background-image: url(/images/sami_big.png);
}

.introduction, .profession, .hobbies {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 1080px;
  width: 100%;
} 

@media only screen and (max-width: 768px) {
  .introduction {
    background-image: url(/images/sami.png);
  }
  .profession {
    background-image: url(/images/kone.png);
  }
  .hobbies {
    background-image: url(/images/haedong_kumdo.png);
  }
}

/* for retina displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .introduction {
    background-image: url(/images/sami_big.png);
  }
  .profession {
    background-image: url(/images/kone_big.png);
  }
  .hobbies {
    background-image: url(/images/haedong_kumdo_big.png);
  }

  .introduction, .profession, .hobbies {
    background-attachment: scroll;
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
  .introduction, .profession, .hobbies {
    background-attachment: scroll;
    width: 100%;
    height: auto;
  }
}

.space {
  height: 30px;
  width: 100%;
  background-color: #428bca;
}

.text_background {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.70);
  margin-top: 390px;
  font-size: 24px;
}

/*@media only screen and (max-width: 768px) {
  .text_background {
    margin-top: 100px;
  }
}*/


.content_text {
  text-align: left;
  padding: 5% 10% 0 10%;
  overflow: hidden;
  font-weight: 500;
}

@media only screen and (max-width: 635px) {
  .text_background {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .text_background {
    font-size: 18px;
  }
}

/* FOOTER */
.footer {

}

.footer .right { float: right; }
.footer .left { float: left; }

.footer p { padding-right: 5px; padding-left: 5px;}

/* PORTFOLIO */
.portfolio_item {
  margin: 20px 20%;
  overflow: hidden;
}

.portfolio_item a {
  text-decoration: none;
}

.portfolio_text p {
  font-size: 24px;
  font-weight: 500;
}

.portfolio_item h2 {
  float: left;
  color: #428bca;
}

.portfolio_item .git_icon {
  float: right;
  padding-top: 25px;
  padding-right: 5px;
  padding-left: 5px;
}

.portfolio_image {
  text-align: center;
}

.portfolio_item img {
  max-width: 100%;
  max-height: 100%;
}

.bordered {
  border: 1px solid black;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  .portfolio_item {
    margin: 20px 10%;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio_item {
    margin: 20px 5%;
  }
}

/* CV */
.cv_header {
  text-align: center;
  color: #FF6617;
  overflow: hidden;
}

.cv_item {
  margin: 20px 20%;
  overflow: hidden;
}

.cv_item_charts {
  margin: 20px 15%;
  overflow: hidden;
}

.cv_item .right {
  float: right;
}

.cv_item a {
  text-decoration: none;
}

.cv_text p {
  font-size: 24px;
  font-weight: 500;
}

.cv_item h2 {
  float: left;
  color: #428bca;
}

.cv_item .git_icon {
  float: right;
  padding-top: 25px;
}

.cv_image {
  text-align: center;
}

.cv_item img {
  max-width: 100%;
  max-height: 100%;
}

.chart {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
}


@media only screen and (max-width: 1500px) {
  .cv_item_charts {
    margin: 20px 7%;
    overflow: hidden;
  }

  .cv_item_charts .left {
    float: left;
  }

  .cv_item_charts .right {
    float: right;
  }
}

@media only screen and (max-width: 1300px) {
  .cv_item_charts {
    margin: 20px 5%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1080px) {
  .cv_item {
    margin: 20px 10%;
  }

  .cv_item_charts {
    margin: 20px 2%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .cv_item {
    margin: 20px 5%;
  }

  .cv_item_charts .left {
    float: none;
  }

  .cv_item_charts .right {
    float: none;
  }

  
}


/* CONTACT */
.contact_item {
  margin: 20px 20%;
  overflow: hidden;
}

.contact_item a {
  text-decoration: none;
}

.contact_text p, .contact_item p {
  font-size: 24px;
  font-weight: 500;
}

.contact_item p strong {
  color: #FF6617;
}

.contact_item h2 {
  float: left;
  color: #428bca;
}

.contact_item .git_icon {
  float: right;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

.contact_image {
  text-align: center;
}

.contact_item img {
  max-width: 100%;
  max-height: 100%;
}

.bordered {
  border: 1px solid black;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  .contact_item {
    margin: 20px 10%;
  }
}

@media only screen and (max-width: 768px) {
  .contact_item {
    margin: 20px 5%;
  }
}